@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Nunito+Sans:wght@300&family=Oswald&family=PT+Serif&family=Patrick+Hand&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    border-style: none;
}

body {
    font-family: nunito-sans, sans-serif;
    font-weight: 300;
    font-size: 16px;
    background-color: #f8f0e3;
    color: #36454F;
}

h1,
h2,
h3,
h4 {
    font-family: 'PT Serif', sans-serif;
}

/* Header and nav bar design */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #f8f0e3;
    color: #232250;
}

.logo {
    cursor: pointer;
    text-decoration: none;
}

.logo h1 {
    font-family: nunito-sans, sans-serif;
    color: #232250;
    text-decoration: none;
}

.menu {
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 1.2rem;
}

.menu li {
    list-style-type: none;
    margin-right: 30px;
    display: inline-block;
}

.menu li a {
    text-decoration: none;
    transition: all 0.3s ease 0s;
    color: #232250;
}

.menu li a:hover {
    text-decoration: underline;
    color: #3d3c77;
    font-weight: 500;
}

#sign-up {
    text-decoration: none;
    padding: 10px 25px;
    background-color: rgb(35, 34, 80, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #f8f0e3;
}

#sign-up:hover {
    background-color: rgb(35, 34, 80, 0.7);
}

/* Hero image section */

#hero-outer {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

#hero-image {
    width: 100%;
    height: 400px;
    background-image: url(../images/inner-self.jpg);
    background-repeat: no-repeat;
    background-position: 56%;
    background-position-y: 60%;
    background-size: cover;
    background-color: #27345e;

    /* Apply zoom effect */

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Create a zoom effect */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#hero-image h2 {
    font-family: 'Dancing Script', sans-serif;
    font-size: 210%;
    color: #f8f0e3;
    padding-left: 87px;
    padding-top: 77px;
}

/* Homepage information section */

#info-outer {
    width: 100%;
    height: fit-content;
    overflow: hidden;
}

#home-info {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 75%;
}

#home-info h2 {
    font-size: 320%;
    text-align: center;
    padding-top: 35px;
}

#help-list {
    list-style: none;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

#help-list li {
    padding: 30px 0px;
    font-size: 140%;
}

/* Groups section */

#groups {
    display: flex;
    height: fit-content;
    background-color: rgba(0, 0, 0, .4);
    height: 200px;
    background: url(../images/pheonix-park1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 70%;
    background-size: cover;
    overflow: hidden;
}

.group-container {
    height: 100%;
    text-align: center;
    color: #f8f0e3;
    box-sizing: border-box;
    border-style: solid;
    border-color: #f8f0e3;
    border-width: 0 1px;
    flex: 1;
}

#groups h3 {
    padding-top: 13px;
    font-size: 90%;
}

#groups h2 {
    font-size: 150%;
    padding-top: 15px;
}

#title-box h2 {
    padding-top: 50px;
}

/* mindfulness hero picture */

#mindfulness-hero-outer {
    width: 100%;
    height: 300px;
    overflow: hidden;
    background-color: #f8f0e3;
}

#mindfulness-hero-picture {
    width: 100%;
    height: 300px;
    background: url(../images/mindfulness.jpg) no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: 26%;
}

/* What is mindfulness section */

#mindfulness_outer {
    background-color: #f8f0e3;
    height: fit-content;
    width: 100%;
    overflow: hidden;
}

.mind-head {
    font-size: 3rem;
    text-align: center;
    padding: 10px 0;
}

.mindfulness-list {
    display: flex;
    width: 100%;
    height: fit-content;
}

#list {
    width: 66%;
    padding-left: 10px;
    padding-top: 30px;
    font-size: 1.25rem;
}

#list li {
    padding-bottom: 30px;
}


/* Sidebar for the mindfulness section */
#sidebar {
    height: 65%;
    background-color: rgba(35, 34, 80, .1);
    border: 3px solid #f8f0e3;
    border-radius: 10%;
    margin-bottom: 30px;
}

#sidebar h3 {
    padding: 30px 10px 0 10px;
    text-align: center;
    font-size: 170%;
}

#sidebar li {
    padding-top: 30px;
    font-size: 130%;
    list-style: none;
    font-weight: 400;
    padding-left: 10px;
}

.wrapper {
    width: inherit;
    word-break: break-word;
}

#small-list {
    padding-left: 10px;
    padding-bottom: 15px;
}

/* video section */

#video-outer {
    overflow: hidden;
    display: flex;
    height: 300px;
    width: 100%;
}

#explanation {
    width: 50%;
    height: fit-content;
    background-color: #f8f0e3;
}

#explanation h2 {
    font-size: 1.75rem;
    text-align: center;
    padding-top: 15px;
}

#explanation p {
    padding-left: 30px;
    padding-top: 20px;
    font-size: 1.25rem;
    padding-right: 20px;
}

#video {
    width: 50%;
    height: 100%;
}

/* meditation list and section */

#meditation {
    width: 80%;
    height: fit-content;
    background-color: #f8f0e3;
    padding: 30px 10px;
    margin: 0 auto;
}

.article-head {
    padding: 30px 0;
    text-align: center;
    font-size: 1.7rem;
}

.para-style {
    font-size: 1.1rem;
    padding: 0 20px;
    padding-bottom: 10px;
}


/* sleep page */

#sleep-hero {
    height: 300px;
    width: 100%;
}


#sleep-benefits-box ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#sleep-hero-outer {
    width: 100%;
    height: 300px;
    background-color: #f8f0e3;
    background: url(../images/sleep-hero.jpg) no-repeat center center;
    overflow: hidden;
    background-size: cover;
}

/* Sleep Benefits */


#sleep-benefits-box {
    display: flex;
    width: 100%;
    background-color: #f8f0e3;
    justify-content: center;
}

.sleep-heading {
    font-family: 'PT Serif', sans-serif;
    padding-top: 40px;
    text-align: center;
}

#sleep-benefits h2 {
    font-size: 250%;
}

#sleep-benefits h3 {
    font-size: 200%;
    padding-bottom: 40px;
}

#sleep-benefit-left {
    width: 33%;
    height: fit-content;
}

#sleep-benefit-right {
    width: 33%;
    height: fit-content;
    text-align: right;
}

#sleep-benefit-center {
    height: 300px;
    width: 300px;
    padding: 30px;
    background-color: #f8f0e3;
    border-radius: 50%;
    border: 2px rgba(133, 123, 123, 0.4) solid;
}

#sleep-round-image {
    height: 100%;
    background: url('../images/sleep-logo.jpg') no-repeat center center;
    border-radius: 50%;
}

#sleep-benefits-box li {
    padding: 10px 10px;
    font-size: 1.75rem;
}

/* sleep practice section */


#sleep-practice {
    clear: both;
    width: 100%;
    height: fit-content;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

#list-left {
    width: 90%;
    height: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    padding: 30px 0;
}


#sleep-practice ul {
    list-style-type: none;
    padding: 0;
}

#list-left h2 {
    text-align: center;
    padding: 20px;
    font-size: 2.5rem;
}

.left-content {
    text-align: center;
}

.left-content h4 {
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.25rem;
    padding-top: 10px;
}

.left-content p {
    font-size: 1rem;
    padding: 10px 10px;
}


/* sign up page styling*/

.sign-up {
    background-image: url(../images/relaxing_background1.jpg);
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
    height: fit-content;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    top: 30%;
    padding: 30px;
}

.sign-up-headings {
    padding-bottom: 30px;
}

.sign-up-break {
    padding-top: 10px;
}

.signup-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f16c6b;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #fafafa;
    color: #f16c6b;
    display: block;
}


/* Footer Styling */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10%;
}

.social-networks {
    list-style-type: none;
    margin-right: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 70px;
}

.social-networks a {
    text-decoration: none;
}

.social-networks li {
    display: inline-flex;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 4%;
    color: #27345e;
}


/* Line Breaks and extras */

.divide {
    height: 5px;
    width: 100%;
    background-color: #232250;
}



.centered {
    position: relative;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.light-divide {
    border: 1px solid rgba(35, 34, 80, 0.2);
    background-color: rgba(35, 34, 80, 0.2);
    width: 20%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

/* Media Queries */

@media screen and (max-width: 1200px) {
    #groups {
        height: max-content;
        background-color: rgba(0, 0, 0, .4);
    }

    .group-container {
        height: auto;
        border-style: solid;
        border-color: #f8f0e3;
        border-width: 0 1px;
    }

    .group-container div {
        height: 100%;
    }
}

@media screen and (max-width: 760px) {

    header {
        height: fit-content;
        padding: 25px 10%
    }

    .menu li {
        display: block;
    }

    #video-outer {
        height: fit-content;
        display: block;
    }

    #video-outer div {
        width: 75%;
        margin: 0 auto;
        height: 275px;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    #sleep-benefits {
        width: 90%;
        margin: 0 auto;
    }

    #sleep-benefits-box {
        display: block;
        width: 90%;
        margin: 0 auto;
        font-size: .8rem;
        ;
        text-align: center;
    }

    #sleep-benefit-left {
        font-size: .8rem;
        ;
        text-align: center;
        width: 100%;
    }

    #sleep-benefit-right {
        font-size: .8rem;
        ;
        text-align: center;
        width: 100%;
    }

    #sleep-benefit-center {
        clear: both;
        padding: 0;
        margin: 0 auto;
    }

}

@media screen and (max-width: 450px) {
    header {
        display: inline-block;
        height: fit-content;
    }

    .menu {
        clear: both;
        float: left;
    }

    #groups {
        display: block;
    }

    .group-container {
        height: auto;
        border-style: solid;
        border-color: #f8f0e3;
        border-width: 1px 0;
    }

    #title-box h2 {
        padding: 25px;
    }

    #mindfulness_outer {
        width: 90%;
        margin: 0 auto;
        font-size: 80%;
    }

    .mindfulness-list {
        display: block;
        margin: 0 auto;
    }

    .mindfulness-list li {
        list-style-type: none;
    }

    #list {
        width: 100%;
        padding: 0;
    }

    .fa-li {
        display: none;
    }

    #list ul {
        margin: 0;
    }

    #video-outer div {
        height: fit-content;
    }

    .signup-form {
        height: fit-content;
        color: #fff;
        background-color: rgba(60, 60, 60, 0.6);
        max-width: 400px;
        margin: 0 10%;
        left: 0;
    }

}