@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Nunito+Sans:wght@300&family=Oswald&family=PT+Serif&family=Patrick+Hand&display=swap');

* {
    margin: 0;
    border: 0;
    border-style: none;
}

body {
    font-family: nunito-sans, sans-serif;
    font-weight: 300;
}




/* Header and nav bar design */

header {
    width: 100%;
    height: 75px;
    clear: both;
    background-color: #EBE1CA;
}

#logo {
    float: left;
    padding-left: 30px;
    letter-spacing: 3px;
    color: #c39d3c;
}

#menu {
    font-size: 110%;
    letter-spacing: 3px;
    font-weight: 400;
    overflow: hidden;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #c39d3c;
}

#menu a:hover {
    text-decoration: underline;
}

/* Hero image section */

#hero-outer {
    width: 100%;
    height: 600px;
    overflow: hidden;
}

#hero-image {
    width: 100%;
    height: 600px;
    background-image: url(../images/inner-self.jpg);
    background-repeat: no-repeat;
    background-position: 56%;
    background-position-y: 60%;
    background-size: cover;
    background-color: #27345e;

    /* Apply zoom effect */

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Create a zoom effect */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#hero-image h2 {
    font-family: 'Dancing Script', sans-serif;
    font-size: 210%;
    color: #EBE1CA;
    padding-left: 87px;
    padding-top: 77px;
}

/* Homepage information section */

#info-outer {
    width: 100%;
    height: 600px;
    background-color: #27345e;
    overflow: hidden;
}

#left-place {
    height: 596px;
    width: 20%;
    float: left;
    background-image: url(../images/shadow-running.jpg);
    background-repeat: no-repeat;
    background-position-y: 30%;
    background-position-x: 67%;
    background-size: cover;
    overflow: hidden;
    border-top: 2px solid;
    border-bottom: 2px solid black;
}

#right-place {
    height: 596px;
    width: 20%;
    float: right;
    background-image: url(../images/shadow-meditating.jpg);
    background-repeat: no-repeat;
    background-position-y: 30%;
    background-position-x: 35%;
    background-size: cover;
    overflow: hidden;
    border-top: 2px solid;
    border-bottom: 2px solid black;
}

#home-info {
    margin: 0 auto;
    width: 59.66%;
    height: 600px;
    left: 20%;
    background-color: #EBE1CA;
    color: #c39d3c;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

#home-info h2 {
    font-size: 320%;
    text-align: center;
    padding-top: 35px;
}

#help-list {
    list-style: none;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

#help-list li {
    padding-top: 30px;
    font-size: 140%;
}

/* Groups section */

#groups {
    width: 100%;
    height: 200px;
    background: url(../images/pheonix-park1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 70%;
    background-size: cover;
    overflow: hidden;
}

#groups div {
    width: 20%;
    height: 200px;
    background-color: rgba(0, 0, 0, .4);
    float: left;
    border: 1px solid #EBE1CA;
    text-align: center;
    color: #EBE1CA;
    box-sizing: border-box;
}

#groups h3 {
    padding-top: 13px;
    font-size: 90%;
}

#groups h2 {
    font-size: 150%;
    padding-top: 15px;
}

#blank-box {
    border: none;
}

#title-box h2 {
    padding-top: 50px;
}

/* mindfulness hero picture */

#mindfulness-hero-outer {
    width: 100%;
    height: 300px;
    overflow: hidden;
    background-color: #c39d3c;
}

#mindfulness-hero-picture {
    width: 100%;
    height: 300px;
    background-image: url(../images/mindfulness.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: 26%;
}

/* What is mindfulness section */

#mindfulness_outer {
    background-color: #c39d3c;
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#mindfulness_heading {
    color: #EBE1CA;
    font-size: 280%;
}

#sec_heading {
    clear: both;
    padding-top: 30px;
    margin: 0 auto;
    text-align: center;
}

#list {
    width: 66%;
    float: left;
    padding-left: 0;
    padding-top: 30px;
    color: #EBE1CA;
}

#list,
#sidebar {
    display: inline-block;
}

#list li {
    padding-bottom: 30px;
    left: 30px;
    font-size: 150%;
}

ul li {
    list-style-position: inside;
}


/* Sidebar for the mindfulness section */
#sidebar {
    position: relative;
    top: 75px;
    right: 10px;
    float: right;
    width: 25%;
    height: 65%;
    background-color: #EBE1CA;
    border: 3px solid #c39d3c;
    border-radius: 10%;
}

#sidebar h3 {
    padding-top: 30px;
    text-align: center;
    color: #c39d3c;
    font-size: 170%;
}

#sidebar li {
    padding-top: 30px;
    font-size: 130%;
    list-style: none;
    color: #c39d3c;
    font-weight: 400;
    padding-left: 10px;
}

.wrapper {
    width: inherit;
    word-break: break-word;
}

#small-list {
    padding-left: 10px;
}

/* video section */

#video-outer {
    height: 300px;
    width: 100%;
}

#explanation {
    width: 50%;
    height: 300px;
    float: left;
    background-color: #c39d3c;
    color: #EBE1CA;
}

#explanation h2 {
    font-size: 250%;
    text-align: center;
    padding-top: 15px;
    font-family: 'PT Serif', sans-serif;
}

#explanation p {
    padding-left: 30px;
    padding-top: 20px;
    font-size: 145%;
    padding-right: 20px;
}

#video {
    width: 50%;
    height: 300px;
    float: right;
}


/* meditation list and section */

#meditation {
    width: 100%;
    height: 700px;
    background-color: #EBE1CA;
}

#meditation-box {
    width: 66%;
    height: 700px;
    background-color: #c39d3c;
    color: #EBE1CA;
    overflow: hidden;
}

#meditation-box h2 {
    font-size: 250%;
}

.meditation-heading {
    text-align: center;
    padding-top: 25px;
    font-family: 'PT Serif', sans-serif;
}

#meditation-list {
    left: 50%;
    padding: 10px 20px;
}

#meditation-list li {
    padding-top: 20px;
}

#meditation-list b {
    padding-bottom: 10px;
}

.med-space {
    padding-bottom: 6px;
}

/* Footer Styling */

footer {
    width: 100%;
    height: 150px;
    clear: both;
    background-color: #EBE1CA;
}

.social-networks {
    list-style: none;
    text-align: center;
}

.social-networks a {
    text-decoration: none;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 4%;
    color: #27345e;
}

.divide {
    height: 5px;
    width: 100%;
    background-color: #EBE1CA;
}

.style-head {
    font-size: 160%;
    letter-spacing: 2px;
    font-family: 'PT Serif', sans-serif;
}

.centered {
    position: relative;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }